/* Her har vi styles til vores grundlæggende setup og mobil */
/* ------------------------------------------------------------- */


* { /* Gælder alt på hele siden */
	box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen, padding mv. */
}

/* Ovenstående kode kan give problemer ved nogle 3. parts scripts man henter. Men det gør det nemmere at forstå og lave kodning når man starter. */

body {
	margin: 0; /* Ingen kanter i siden af browser */
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0; /* Ingen ydre margen fra overskrifter */
	padding: 0; /* Ingen indre margen fra overskrifter */
	font-family: 'Nunito', sans-serif;
}

ul, ol {
	margin: 2px 10px 2px 10px; /* Mindre margen på punkter */
	padding: 0; /* Ingen indre margen fra lister */
	list-style-position: inside; /* List punkter står på linje */
}

li {
	margin: 0; /* Ingen ydre margen fra listpunkter */
}

p {
	margin: 0; /* Ingen ydre margen fra paragraffer */
	padding: 0; /* Ingen indre margen fra paragraffer */
}

/* Sikrer billeder er responsive */
img {
	display: block; /* Billeder er et element (laver linjeskift) */
	max-width: 100%; /* Bredde må maks fylde 100% */
	height: auto; /* Højden skal tilpasse sig */
}

/* SUBSCRIPTIONS */
.bg-gradient-primary{
	background-image: linear-gradient(#0BDBA3, #8A0BDB);
}
.bg-gradient-right{
	background-image: linear-gradient(to right, #0BDBA3, #8A0BDB);
}

.purpleborder{
	border: 3px solid #8A0BDB;
}


/*QUOTE*/

/*PORTFOLIO*/




/* ABOUT US */

.about_img {
	background-image: url("../img/workspace.jpg");
	background-size: cover;
	background-position: center;
}

/* NEWSLETTER */

form {
	.form-group {
		input {
			font-size: 15px;
		}
	}

	.newsletter_btn {
		padding: 10px 50px !important;
	}

	.newsletter_info {
		padding: 20px;
	}
}

.font_awesome_news {
	font-size: 20px !important;
	padding: 12px 10px;
	margin: 0 5px;

	&:last-child {
		margin: 0 0 0 5px;
	}
}

.newsletter_img {
	background-image: url("../img/newsletter_bridge.jpg");
	background-size: cover;
	background-position: center;
}

/* FOOTER */

.footer-link {
	color: white;
	text-decoration: none;

	&:hover {
		color: lightgray;
		text-decoration: none;
	}
}